<launch>
    <rosparam command="load" file="$(find h_vs)/config/cam_params.yml"/>
    <rosparam command="load" file="$(find h_vs)/config/gain_params.yml"/>

    <node pkg="h_vs" name="h_gen_node" type="h_gen_node.py" output="screen"/>
    <node pkg="h_vs" name="h_vs_node" type="h_vs_node" output="screen"/>
</launch>
