<launch>
    <arg name="cname" type="str" default="narrow_stereo"/>
    <arg name="url" type="str" default="package://h_vs/config/cam_params.yml"/>

    <rosparam command="load" file="$(find h_vs)/config/gain_params.yml"/>

    <node pkg="h_vs" name="h_gen_node" type="h_gen_node.py" output="screen">
        <param name="cname" type="str" value="$(arg cname)"/>
        <param name="url" type="str" value="$(arg url)"/>
    </node>  <!-- expects camera parameters from a CameraInfo topic under camera/camera_info -->
    <node pkg="h_vs" name="h_vs_node" type="h_vs_node" output="screen">
        <param name="cname" type="str" value="$(arg cname)"/>
        <param name="url" type="str" value="$(arg url)"/>
    </node>
</launch>
